* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lusitana", serif;
}

html, body, #app {
    height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lusitana|Permanent+Marker|Source+Code+Pro);
@import './scss/mixins.scss';
@import './scss/colors.scss';
@import './scss/screens.scss';
@import './scss/topbar.scss';
@import './scss/flash.scss';

.tdm-body {
    height: 100%;
    overflow: auto;
    background-color: $page-bg;

    @import './scss/home.scss';
    @import './scss/search.scss';
    @import './scss/profile.scss';
    @import './scss/dashboard.scss';
    @import './scss/form.scss';
    @import './scss/blog.scss';
}