// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Cantarell|Kalam|Ubuntu+Mono);

// Variables
@import './scss/variables.scss';

// Mixins
@import './scss/mixins.scss';

// Globals
@import './scss/global.scss';

// Prebody Components
@import './scss/topbar.scss';
@import './scss/flash.scss';

// App Body
.tdm-body {
    @import './scss/markdown.scss';
    @import './scss/form.scss';
    @import './scss/home.scss';
    @import './scss/blog.scss';
    @import './scss/profile.scss';
    @import './scss/dashboard.scss';
    @import './scss/search.scss';

    .tdm-footer {
        display: block;
        padding: 12px 0px;
        text-align: center;
    }
}