<div class="tdm-form">
    <main class="tdm-form-main">
        <h2>Edit This Blog</h2>
        <form (submit)="onFormSubmit($event)">
            <div class="tdm-form-element">
                <label for="title">Blog Title: </label>
                <input type="text" 
                        class="tdm-form-input" 
                        id="title" 
                        name="title" 
                        [(ngModel)]="title"
                        required />
            </div>
            <div class="tdm-form-element">
                <label for="body">
                    Blog Body
                    <span *ngIf="body.length < 50; else charsLeft">({{ body.length - 50 }})</span>
                    <ng-template #charsLeft>({{ body.length }} / 10000)</ng-template>
                </label>
                <textarea ref-textarea
                          class="tdm-form-input tdm-form-textarea"
                          id="body"
                          name="body"
                          [(ngModel)]="body"
                          (input)="onBodyChanged()"
                          required></textarea>
            </div>
            <div class="tdm-form-element">
                <label for="keywords">Keywords: </label>
                <input type="text" 
                        class="tdm-form-input" 
                        id="keywords" 
                        name="keywords" 
                        [(ngModel)]="keywords"
                        required />
            </div>
            <div class="tdm-form-element">
                <button type="submit" class="tdm-form-button">Finish</button>
            </div>
        </form>
    </main>
    <aside class="tdm-form-aside">
        <h2>Markdown Previewer</h2>
        <div class="tdm-markdown-previewer" [innerHTML]="parsed">
        </div>
        <h2>Instructions</h2>
        <ul>
            <li>All fields are required.</li>
            <li>The blog's body must be between 50 and 10,000 characters in length.</li>
            <li>As you type out the body, it will be previewed in the pane above.</li>
            <li>Keywords will help other users search for your blog.</li>
            <li>Click "Finish" when you are finished.</li>
        </ul>
    </aside>
</div>