<div class="tdm-dashboard">
  <div *ngIf="deleting === false; else tdmDeletingAccount" class="tdm-dashboard-menu">
    <span class="tdm-dashboard-heading">Account Settings</span>
    <ul>
      <li>
        <a routerLink="/user/profile/{{ userId }}">View My Profile</a><br />
        <em>View and manage your blogs and subscriptions.</em>
      </li>
      <li>
        <a routerLink="/blog/editor">Create a Blog</a><br />
        <em>Write out a new blog.</em>
      </li>
      <li>
        <a routerLink="/user/requestPasswordReset">Change Password</a><br />
        <em>Request a password reset token so you can change your password.</em>
      </li>
      <li>
        <a routerLink="/user/logout">Log Out</a><br />
        <em>Logs you out of your TDM account.</em>
      </li>
      <li>
        <a href="#" (click)="deleteUser($event)">Delete Account</a><br />
        <em>
          Deletes your account, blogs, and comments.<br />
          WARNING: This cannot be undone!!!
        </em>
      </li>
    </ul>
  </div>
  <ng-template #tdmDeletingAccount>
    <div class="tdm-dashboard-menu">
      <span class="tdm-dashboard-heading">Deleting Account...</span>
    </div>
  </ng-template>
  <div *ngIf="deleting === false" class="tdm-dashboard-panes">
    <span class="tdm-dashboard-heading">Blogs From Your Subscriptions</span>
    <div *ngIf="subBlogsFetching === false || subBlogs.length > 0; else fetchingSubBlogs">
      <div *ngIf="subBlogsError === ''; else fetchingSubBlogsError">
        <div class="tdm-dashboard-pagination">
          <button [disabled]="subBlogsPage === 0" (click)="onPreviousClicked('subs')"><i class="fa fa-chevron-left"></i></button>
          <span>Page {{ subBlogsPage + 1 }}</span>
          <button [disabled]="subBlogsLastPage" (click)="onNextClicked('subs')"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div>
          <div *ngFor="let blog of subBlogs" class="tdm-dashboard-pane">
            <a routerLink="/blog/view/{{ blog.id }}">
              <span class="tdm-dashboard-subheading">{{ blog.title }}</span>
            </a>
            <p>
              By: <a routerLink="/user/profile/{{ blog.authorId }}">{{ blog.author }}</a><br />
              Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} ratings)<br />
              {{ blog.commentCount }} comments
            </p>
          </div>
        </div>
      </div>
      <ng-template #fetchingSubBlogsError>
        <p><em>{{ subBlogsError }}</em></p>
      </ng-template>
    </div>
    <ng-template #fetchingSubBlogs>
      <p><em>Fetching blogs by subscriptions. Please wait...</em></p>
    </ng-template>
  </div>
  <div *ngIf="deleting === false" class="tdm-dashboard-panes">
    <span class="tdm-dashboard-heading">Hot Blogs</span>
    <div *ngIf="hotBlogsFetching === false || hotBlogs.length > 0; else fetchingHotBlogs">
      <div *ngIf="hotBlogsError === ''; else fetchingHotBlogsError">
        <div class="tdm-dashboard-pagination">
          <button [disabled]="hotBlogsPage === 0" (click)="onPreviousClicked('hot')"><i class="fa fa-chevron-left"></i></button>
          <span>Page {{ hotBlogsPage + 1 }}</span>
          <button [disabled]="hotBlogsLastPage" (click)="onNextClicked('hot')"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div>
          <div *ngFor="let blog of hotBlogs" class="tdm-dashboard-pane">
            <a routerLink="/blog/view/{{ blog.id }}">
              <span class="tdm-dashboard-subheading">{{ blog.title }}</span>
            </a>
            <p>
              By: <a routerLink="/user/profile/{{ blog.authorId }}">{{ blog.author }}</a><br />
              Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} ratings)<br />
              {{ blog.commentCount }} comments
            </p>
          </div>
        </div>
      </div>
      <ng-template #fetchingHotBlogsError>
        <p><em>{{ hotBlogsError }}</em></p>
      </ng-template>
    </div>
    <ng-template #fetchingHotBlogs>
      <p><em>Fetching the hottest blogs. Please wait...</em></p>
    </ng-template>
  </div>
</div>