<div class="tdm-form">
        <main class="tdm-form-main">
            <h2>Change Your Password</h2>
            <form (submit)="onFormSubmit($event)">
                <div class="tdm-form-element">
                    <label for="password">New Password: </label>
                    <input type="password" 
                           class="tdm-form-input" 
                           id="password" 
                           name="password" 
                           [(ngModel)]="password"
                           required />
                </div>
                <div class="tdm-form-element">
                    <label for="confirm">Confirm Password: </label>
                    <input type="password" 
                           class="tdm-form-input" 
                           id="confirm" 
                           name="confirm" 
                           [(ngModel)]="confirm"
                           required />
                </div>
                <div class="tdm-form-element">
                    <button type="submit" class="tdm-form-button">Change Password</button>
                </div>
            </form>
        </main>
        <aside class="tdm-form-aside">
            <h2>Instructions</h2>
            <p>
                Enter and confirm a new password in the text boxes.
                Be sure to enter a unique password that is easy for you to understand.
                Writing the password down can help you remember it if you keep it safe.
            </p>
        </aside>
    </div>