<div class="tdm-blog">
    <div *ngIf="fetchingBlog === true; then fetchingBlogUnderway else fetchingBlogDone"></div>
    <ng-template #fetchingBlogUnderway>
        <div class="tdm-blog-message">
            <h1>Please Wait...</h1>
            <p>We are fetching the blog you requested, and will have it ready for you shortly.</p>
        </div>
    </ng-template>
    <ng-template #fetchingBlogDone>
        <div *ngIf="fetchedBlog !== null; then fetchingBlogGood else fetchingBlogError"></div>
        <ng-template #fetchingBlogError>
            <div class="tdm-blog-message">
                <h1>Whoops!</h1>
                <p>Something went wrong while fetching your blog.</p>
                <p><em>Error: {{ blogError }}</em></p>
            </div>
        </ng-template>
        <ng-template #fetchingBlogGood>
            <h1 class="tdm-blog-title">
                {{ fetchedBlog.title }}
            </h1>
            <div class="tdm-blog-details">
                <p>Posted by: <a routerLink="/user/profile/{{ fetchedBlog.authorId }}">{{ fetchedBlog.authorName }}</a></p>
                <p>Posted on: {{ fetchedBlog.postDate }}</p>
                <p>Rating: {{ fetchedBlog.averageRating }} / 5 ({{ fetchedBlog.ratingCount }} ratings)</p>
            </div>
            <div class="tdm-blog-details" *ngIf="userId && userId === fetchedBlog.authorId">
                <p>Blog Controls:</p>
                <p>
                    <span (click)="onEditBlogClicked()">
                        <i class="fa fa-pencil"></i> Edit Blog
                    </span>
                </p>
                <p>
                    <span (click)="onDeleteBlogClicked()">
                        <i class="fa fa-trash"></i> Delete Blog
                    </span>
                </p>
            </div>
            <div class="tdm-blog-body" [innerHTML]="parsedMarkdown">

            </div>
            <div class="tdm-blog-rating" *ngIf="auth.checkToken() === true && userId !== fetchedBlog.authorId">
                <h1>What did you think?</h1>
                <p>Click on one of the rating buttons below to score this article.</p>
                <div class="tdm-blog-rating-buttons">
                    <button id="bad" (click)="onRatingSubmitted(1)">1</button>
                    <button id="poor" (click)="onRatingSubmitted(2)">2</button>
                    <button id="fair" (click)="onRatingSubmitted(3)">3</button>
                    <button id="good" (click)="onRatingSubmitted(4)">4</button>
                    <button id="great" (click)="onRatingSubmitted(5)">5</button>
                </div>
            </div>
            <div class="tdm-blog-comments">
                <div *ngIf="fetchingComments === true; then fetchingCommentsUnderway else fetchingCommentsDone"></div>
                <ng-template #fetchingCommentsUnderway>
                    <em class="tdm-blog-comments-message">
                        Please wait - fetching comments...
                    </em>
                </ng-template>
                <ng-template #fetchingCommentsDone>
                    <div *ngIf="commentError; then fetchingCommentsError else fetchingCommentsGood"></div>
                    <ng-template #fetchingCommentsError>
                        <em class="tdm-blog-comments-message">
                            Error fetching comments. Try again later.
                        </em>
                    </ng-template>
                    <ng-template #fetchingCommentsGood>
                        <div *ngIf="auth.checkToken() === true" class="tdm-blog-post-comment">
                            <label for="post-comment">
                                Post a Comment (
                                    <span *ngIf="postComment.length >= 10; else commentTooShort">
                                        {{ postComment.length }} / 200
                                    </span>
                                    <ng-template #commentTooShort>
                                        -{{ 10 - postComment.length }}
                                    </ng-template>
                                ):
                            </label>
                            <textarea id="post-comment"
                                      name="postComment"
                                      [(ngModel)]="postComment"
                                      placeholder="Enter Your Comment..."></textarea>
                            <button (click)="onCommentSubmit($event)">Post Comment</button>
                        </div>
                        <div *ngIf="fetchedComments.length > 0; else noComments">
                            <h1>Comments:</h1>
                            <div class="tdm-blog-comment-pagination">
                                <button [disabled]="commentPage === 0" (click)="onCommentPreviousPageClicked()">Previous</button>
                                <button [disabled]="commentLastPage" (click)="onCommentNextPageClicked()">Next</button>
                            </div>
                            <div class="tdm-blog-comment" *ngFor="let comment of fetchedComments">
                                <p>
                                    <a routerLink="/user/profile/{{ comment.authorId }}">
                                        <strong>{{ comment.author }}</strong> 
                                    </a> <em>on {{ comment.postDate }}</em>:<br />
                                    {{ comment.body }}
                                </p>
                                <p *ngIf="auth.checkToken() === true && userId && userId === comment.authorId">
                                    <span class="tdm-comment-control" (click)="onDeleteCommentClicked(comment._id)">
                                        <i class="fa fa-trash"></i> Delete Comment
                                    </span>
                                </p>
                            </div>
                        </div>
                        <ng-template #noComments>
                            <em class="tdm-blog-comments-message">
                                No Comments
                            </em>
                        </ng-template>
                    </ng-template>
                </ng-template>
            </div>
        </ng-template>
    </ng-template>
</div>