<div class="tdm-dashboard">
    <h1>{{ userFullName }}'s Dashboard</h1>
    <div class="tdm-security">
        <h2>Account Options</h2>
        <ul>
            <li><a routerLink="/user/profile/{{ userId }}">View Profile Page</a> - <em>View your profile page and manage subscriptions.</em></li>
            <li><a routerLink="/blog/create">Create Blog</a> - <em>Create a new blog.</em></li>
            <li><a routerLink="/user/requestPasswordReset">Change Password</a> - <em>Requests a password reset token.</em></li>
            <li>Log Out - <em>Logs out of your TDM account.</em></li>
        </ul>
    </div>
    <h2>Blogs</h2>
    <div class="tdm-blog-list" id="my-blogs">
        <h3>My Blogs</h3>
        <div *ngIf="userBlogsFetching === false; else fetchingMyBlogs">
            <div *ngIf="userBlogsError === ''; else myBlogsError">
                <div class="tdm-blog-list-buttons" *ngIf="userBlogs.length > 0">
                    <button [disabled]="userBlogsPage === 0" (click)="onPreviousClicked('user')">Previous</button>
                    <button [disabled]="userBlogsLastPage" (click)="onNextClicked('user')">Next</button>
                </div>
                <ul *ngIf="userBlogs.length > 0; else myBlogsEmpty">
                    <li *ngFor="let blog of userBlogs">
                        <a routerLink="/blog/view/{{ blog.blogId }}" class="tdm-blog-link">{{ blog.title }}</a>
                        <span>Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} rating(s))</span>
                        <span>{{ blog.commentCount }} comments</span>
                        <div class="tdm-blog-list-buttons">
                            <button (click)="onEditBlogClicked(blog.blogId)"><i class="fa fa-pencil"></i>Edit</button>
                            <button (click)="onDeleteBlogClicked(blog.blogId)"><i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </li>
                </ul>
                <ng-template #myBlogsEmpty>
                    <em class="tdm-blog-list-message">
                        You do not have any blogs, yet!<br />
                        <a routerLink="/blog/create">Click here to write one!</a>
                    </em>
                </ng-template>
            </div>
            <ng-template #myBlogsError>
                <em class="tdm-blog-list-message">
                    {{ userBlogsError }}
                </em>
            </ng-template>
        </div>
        <ng-template #fetchingMyBlogs>
            <em class="tdm-blog-list-message">
                Fetching your blogs. Please wait...
            </em>
        </ng-template>
    </div>
    <div class="tdm-blog-list" id="subscription-blogs">
        <h3>Subscription Blogs</h3>
        <div *ngIf="subBlogsFetching === false; else fetchingSubBlogs">
            <div *ngIf="subBlogsError === ''; else subsBlogsError">
                <div class="tdm-blog-list-buttons" *ngIf="subBlogs.length > 0">
                    <button [disabled]="subBlogsPage === 0" (click)="onPreviousClicked('subs')">Previous</button>
                    <button [disabled]="subBlogsLastPage" (click)="onNextClicked('subs')">Next</button>
                </div>
                <ul *ngIf="subBlogs.length > 0; else subBlogsEmpty">
                    <li *ngFor="let blog of subBlogs">
                        <a routerLink="/blog/view/{{ blog.blogId }}" class="tdm-blog-link">{{ blog.title }}</a>
                        <span>By: <a routerLink="/user/profile/{{ blog.authorId }}">{{ blog.author }}</a></span>
                        <span>Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} rating(s))</span>
                        <span>{{ blog.commentCount }} comments</span>
                    </li>
                </ul>
                <ng-template #subBlogsEmpty>
                    <em class="tdm-blog-list-message">
                        Your subscriptions do not have any blogs, yet.
                    </em>
                </ng-template>
            </div>
            <ng-template #subsBlogsError>
                <em class="tdm-blog-list-message">
                    {{ subBlogsError }}
                </em>
            </ng-template>
        </div>
        <ng-template #fetchingSubBlogs>
            <em class="tdm-blog-list-message">
                Fetching subscription blogs. Please wait...
            </em>
        </ng-template>
    </div>
    <div class="tdm-blog-list" id="recent-blogs">
        <h3>Recent Blogs</h3>
        <div *ngIf="recentBlogsFetching === false; else fetchingRecentBlogs">
            <div *ngIf="recentBlogsError === ''; else recentsBlogsError">
                <div class="tdm-blog-list-buttons" *ngIf="recentBlogs.length > 0">
                    <button [disabled]="recentBlogsPage === 0" (click)="onPreviousClicked('all')">Previous</button>
                    <button [disabled]="recentBlogsLastPage" (click)="onNextClicked('all')">Next</button>
                </div>
                <ul *ngIf="recentBlogs.length > 0; else recentBlogsEmpty">
                    <li *ngFor="let blog of recentBlogs">
                        <a routerLink="/blog/view/{{ blog.blogId }}" class="tdm-blog-link">{{ blog.title }}</a>
                        <span>By: <a routerLink="/user/profile/{{ blog.authorId }}">{{ blog.author }}</a></span>
                        <span>Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} rating(s))</span>
                        <span>{{ blog.commentCount }} comments</span>
                    </li>
                </ul>
                <ng-template #recentBlogsEmpty>
                    <em class="tdm-blog-list-message">
                        There are no blogs, yet!
                    </em>
                </ng-template>
            </div>
            <ng-template #recentsBlogsError>
                <em class="tdm-blog-list-message">
                    {{ recentBlogsError }}
                </em>
            </ng-template>
        </div>
        <ng-template #fetchingRecentBlogs>
            <em class="tdm-blog-list-message">
                Fetching the most recent blogs. Please wait...
            </em>
        </ng-template>
    </div>
</div>