$page-bg: #EEF0EF;
$page-text: #1C1314;
$page-link: #58391C;
$page-link-hover: #734B28;

$input-bg: #FDFDFD;
$input-bg-hover: #DFDFDF;
$input-text: #1C1314;

$topbar-bg: #1F1513;
$topbar-bg-hover: #62595A;
$topbar-border: #62595A;
$topbar-text: #DFDFDF;