.tdm-dashboard {
    width: 95%;
    max-width: 1024px;
    overflow: auto;
    margin: 60px auto 0px auto;
    color: $page-text;

    h1 {
        font-size: 44px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 36px;
            text-align: left;
        }
    }
    
    h2 {
        font-size: 40px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 32px;
            text-align: left;
        }
    }
    
    h3 {
        font-size: 28px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 24px;
            text-align: left;
        }
    }

    ul {
        margin: 24px;
        font-size: 18px;
        text-align: center;
        list-style: none;

        @media #{$sm-screen} {
            font-size: 16px;
            text-align: left;
            list-style: disc;
        }

        li {
            padding-bottom: 4px;
        }

        em {
            font-size: 0.9em;
        }
    }

    a {
        text-decoration: none;
        color: $page-link;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: $page-link-hover;
        }
    }

    .tdm-blog-list {
        float: left;
        width: 33.33%;
        padding: 8px;

        @media #{$sm-screen} {
            float: none;
            width: 95%;
            margin: 0px auto;
        }

        h2 {
            margin-bottom: 8px;
            text-align: center;
            border-bottom: 2px solid $page-text;

            @media #{$sm-screen} {
                text-align: left;
            }
        }

        .tdm-blog-list-buttons {
            text-align: center;

            button {
                display: inline-block;
                margin: 0px 8px;
                padding: 8px;
                font-size: 16px;
                background-color: $page-bg;
                color: $page-text;
                border: 2px solid $page-text;
                @include border-radius(8px);
                @include transition(0.2s);

                @media #{$sm-screen} {
                    font-size: 14px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $page-text;
                    color: $page-bg;
                }

                &:disabled {
                    color: lightgrey;

                    &:hover {
                        cursor: default;
                        background-color: $page-bg;
                        color: lightgrey;
                    }
                }
            }
        }

        li {
            padding: 8px 0px;
            margin: 10px 0px;
            list-style: none;
            text-align: center;
            background-color: $input-bg;
            @include border-radius(10px);
            @include box-shadow(5px, 5px, 3px, rgba(0, 0, 0, 0.3));

            .tdm-blog-link {
                display: block;
                font-size: 20px;
                text-decoration: none;
                color: $page-link;

                @media #{$sm-screen} {
                    font-size: 18px;
                }

                &:hover {
                    text-decoration: underline;
                    color: $page-link-hover;
                }
            }

            span {
                display: block;
                font-size: 18px;
                margin: 2px 0px;

                @media #{$sm-screen} {
                    font-size: 16px;
                }
            }
        }
    }

    .tdm-security {
        clear: both;
        padding: 8px 0px;
        margin: 8px 0px;

        p {
            margin: 16px 0px;
        }
    }
}