.tdm-flash {
    position: fixed;
    top: 44px;
    left: 0px;
    width: 100%;
    font-size: 18px;
    background-color: lightgrey;
    color: black;
    border-bottom: 2px solid black;

    @media #{$xs-screen} {
        font-size: 16px;
    }

    p {
        float: left;
        margin: 16px;

        @media #{$xs-screen} {
            margin: 8px;
        }
    }

    ul {
        clear: both;
        margin: 16px 48px;
        
        @media #{$xs-screen} {
            margin: 8px 24px;
        }
    }

    .tdm-flash-close {
        float: right;
        margin: 8px;
        padding: 8px;

        @media #{$xs-screen} {
            margin: 4px;
            padding: 4px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &.tdm-flash-ok {
        background-color: lightgreen;
        color: darkgreen;
        border-color: darkgreen;
    }
    
    &.tdm-flash-warning {
        background-color: lightyellow;
        color: darkgoldenrod;
        border-color: darkgoldenrod;
    }

    &.tdm-flash-error {
        background-color: pink;
        color: darkred;
        border-color: darkred;
    }
}