.tdm-form {
    width: 95%;
    max-width: 1024px;
    overflow: auto;
    margin: 60px auto 0px auto;

    h2 {
        text-align: center;
        border-bottom: 2px solid $page-text;
    }

    .tdm-form-main {
        float: left;
        width: 50%;
        box-sizing: border-box;
        border-right: 1px solid $page-text;

        @media #{$sm-screen} {
            float: none;
            width: 95%;
            margin: 0px auto;
            border-right: none;
        }

        form {
            padding: 16px;
        }

        .tdm-form-element {
            margin-bottom: 12px;

            label {
                display: block;
                margin-bottom: 4px;
            }

            .tdm-form-input {
                display: block;
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                background-color: $input-bg;
                color: $input-text;
                border: 2px solid $input-text;
                @include border-radius(8px);
                @include transition(0.2s);

                &:hover {
                    background-color: $input-bg-hover;
                }

                &.tdm-form-textarea {
                    resize: none;
                    height: 320px;
                }
            }

            .tdm-form-button {
                display: block;
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                font-size: 16px;
                background-color: $page-bg;
                color: $page-text;
                border: 2px solid $page-text;
                @include border-radius(8px);
                @include transition(0.2s);

                &:hover {
                    cursor: pointer;
                    background-color: $page-text;
                    color: $page-bg;
                }
            }
        }
    }

    .tdm-form-aside {
        float: right;
        width: 50%;
        box-sizing: border-box;
        border-left: 1px solid $page-text;
        
        @media #{$sm-screen} {
            float: none;
            width: 95%;
            margin: 0px auto;
            border-left: none;
        }

        .tdm-markdown-previewer {
            margin: 16px 32px;
            padding: 8px;
            box-sizing: border-box;
            overflow: auto;
            height: 320px;
            background-color: $page-bg;
            color: $page-text;
            border: 2px solid $page-text;
            @include border-radius(8px);

            * {
                padding: 0px;
                text-align: left;
                border: none;
            }

            h1, h2, h3, h4, h5, h6, p {
                padding-bottom: 16px;

                @media #{$sm-screen} {
                    padding-bottom: 8px;
                }
            }

            pre, code {
                width: 95%;
                margin: 0px auto;
                overflow: auto;
                padding: 16px 0px;
                font-family: "Source Code Pro", monospace;
            }

            ul, ol {
                padding: 16px 32px;
            }

            blockquote {
                padding: 16px;
                border-left: 3px solid $page-text;
            }
            
            a {
                text-decoration: none;
                color: $page-link;
    
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                    color: $page-link-hover;
                }
            }
        }

        ul {
            padding: 32px;
        }

        p {
            padding: 16px 32px;
        }

        a {
            text-decoration: none;
            color: $page-link;

            &:hover {
                text-decoration: underline;
                color: $page-link-hover;
            }
        }
    }
}