.tdm-intro-bg {
    background-image: url(https://www.dropbox.com/s/sbej1ddq2fu8629/background.jpg?raw=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 664px;

    .tdm-intro-caption {
        width: 512px;
        margin: 160px 0px 0px 18%;
        color: $page-text;
        overflow: auto;

        @media #{$sm-screen} {
            width: 100%;
            margin: 124px auto 0px auto;
            text-align: center;
        }

        .tdm-intro-heading {
            display: block;
            font-family: $special-font;
            font-size: 26px;

            @media #{$xs-screen} {
                font-size: 18px;
            }
        }

        .tdm-intro-subheading {
            display: block;
            font-family: $special-font;
            font-variant: small-caps;
            font-size: 48px;
            margin-bottom: 32px;

            @media #{$xs-screen} {
                font-size: 32px;
            }
        }

        .tdm-intro-button {
            display: block;
            width: 256px;
            padding: 8px;
            margin-bottom: 4px;
            font-family: $special-font;
            font-variant: small-caps;
            font-size: 20px;
            text-decoration: none;
            color: $page-text;
            border: 2px solid $page-text;
            background-color: transparent;
            text-align: center;
            @include border-radius(8px);
            @include transition(0.2s);

            @media #{$sm-screen} {
                display: block;
                width: 95%;
                box-sizing: border-box;
                margin: 0px auto;
                margin-bottom: 4px;
            }

            @media #{$xs-screen} {
                font-size: 18px;
            }

            &:hover {
                cursor: pointer;
                background-color: $page-text;
                color: $page-bg;
            }
        }
    }
}

.tdm-about {
    background-color: $page-link-hover;
    color: $input-bg;

    .tdm-about-heading {
        display: block;
        margin-bottom: 16px;
        font-family: $special-font;
        font-variant: small-caps;
        font-size: 48px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 32px;
        }
    }

    .tdm-about-panes {
        width: 95%;
        max-width: 1024px;
        margin: 0px auto;
        padding-bottom: 16px;

        .tdm-about-pane {
            float: left;
            width: 31.33%;
            margin: 0px 1%;
            padding: 8px;
            box-sizing: border-box;
            background-color: $page-bg;
            color: $page-text;
            @include border-radius(8px);
            @include box-shadow(5px, 3px, 3px, rgba(0, 0, 0, 0.3));

            .tdm-about-subheading {
                display: block;
                margin: 8px 0px;
                font-family: $special-font;
                font-variant: small-caps;
                font-size: 32px;
                text-align: center;
                line-height: 0.95em;

                @media #{$sm-screen} {
                    margin: 4px 0px;
                    font-size: 26px;
                }
            }

            p {
                text-align: center;
                line-height: 1.3em;
            }

            @media #{$sm-screen} {
                float: none;
                width: 95%;
                margin: 8px auto;
            }
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.tdm-taste {
    background-color: $page-text;
    color: $page-bg;

    .tdm-taste-heading {
        display: block;
        margin-bottom: 16px;
        font-family: $special-font;
        font-variant: small-caps;
        font-size: 48px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 32px;
        }
    }

    .tdm-taste-panes {
        width: 95%;
        max-width: 1024px;
        margin: 0px auto;
        padding-bottom: 16px;

        .tdm-taste-notice {
            text-align: center;
        }

        .tdm-taste-pane {
            float: left;
            width: 31.33%;
            margin: 8px 1%;
            padding: 8px;
            box-sizing: border-box;
            background-color: $page-bg;
            color: $page-text;
            @include border-radius(8px);
            @include box-shadow(5px, 3px, 3px, rgba(0, 0, 0, 0.3));
            
            @media #{$sm-screen} {
                float: none;
                width: 95%;
                margin: 8px auto;
            }

            &:nth-child(3n+1) {
                content: "";
                display: block;
                clear: both;
            }

            .tdm-taste-subheading {
                display: block;
                margin: 4px 0px;
                font-family: $special-font;
                font-variant: small-caps;
                font-size: 24px;
                text-align: center;
                line-height: 0.8em;

                @media #{$sm-screen} {
                    font-size: 18px;
                }
            }
            
            p {
                text-align: center;
                line-height: 1.3em;
            }
        }
        
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.tdm-home-search {
    .tdm-home-search-heading {
        display: block;
        margin-bottom: 16px;
        font-family: $special-font;
        font-variant: small-caps;
        font-size: 48px;
        text-align: center;

        @media #{$sm-screen} {
            font-size: 32px;
        }
    }

    .tdm-home-search-bar {
        width: 95%;
        max-width: 640px;
        margin: 0px auto;

        .tdm-home-search-input {
            display: block;
            width: 100%;
            margin: 8px 0px;
            padding: 8px;
            box-sizing: border-box;
            border: 2px solid $page-text;
            background-color: transparent;
            color: $page-text;
            @include border-radius(8px);
            @include transition(0.1s);
            font-family: $special-font;
            font-variant: small-caps;
            font-size: 18px;

            @media #{$sm-screen} {
                font-size: 16px;
            }

            &:hover {
                background-color: $page-bg-hover;
            }
        }

        .tdm-home-search-button {
            display: block;
            width: 25%;
            margin: 8px auto;
            padding: 8px;
            box-sizing: border-box;
            background-color: transparent;
            color: $page-text;
            border: 2px solid $page-text;
            @include border-radius(8px);
            @include transition(0.1s);
            font-family: $special-font;
            font-variant: small-caps;
            font-size: 18px;

            @media #{$sm-screen} {
                width: 100%;
                font-size: 16px;
            }

            &:hover {
                background-color: $page-text;
                color: $page-bg;
                cursor: pointer;
            }
        }
    }
}