$xs-screen: "only screen and (max-width: 359px)";
$sm-screen: "only screen and (max-width: 639px)";
$md-screen: "only screen and (max-width: 799px)";
$small-intro: "only screen and (max-width: 479px)";