<div class="tdm-profile">
    <div class="tdm-profile-details">
        <h1>User Details</h1>
        <div *ngIf="fetchingUser === false; else fetchingUserUnderway">
            <div *ngIf="targetError === ''; else fetchingUserError">
                <ul>
                    <li>Name: {{ targetName }}</li>
                    <li>Email Address: {{ targetEmail }}</li>
                    <li>Join Date: {{ targetJoinDate }}</li>
                    <li>Blog Count: {{ targetBlogCount }}</li>
                    <li>Subscription Count: {{ targetSubCount }}</li>
                    <li *ngIf="myId !== '' && isMe === false">
                        Subscription Status: 
                        <span *ngIf="isSubbed === true; else notSubbed">
                            Subscribed - 
                            <a href="#" (click)="toggleSubscribe($event)">Unsubscribe</a>
                        </span>
                        <ng-template #notSubbed>
                            Not Subscribed - 
                            <a href="#" (click)="toggleSubscribe($event)">Subscribe</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
            <ng-template #fetchingUserError>
                <p><em>{{ targetError }}</em></p>
            </ng-template>
        </div>
        <ng-template #fetchingUserUnderway>
            <p><em>Fetching user profile details. Please wait...</em></p>
        </ng-template>
    </div>

    <div class="tdm-profile-blogs">
        <h1>Created Blogs</h1>
        <div *ngIf="fetchingBlogs === false; else fetchingBlogsUnderway">
            <div *ngIf="blogsError === ''; else fetchingBlogsError">
                <div class="tdm-profile-blog" *ngFor="let blog of blogs">
                    <a routerLink="/blog/view/{{ blog.blogId }}" class="tdm-profile-blog-link">
                        {{ blog.title }}
                    </a>
                    <span class="tdm-profile-blog-detail">
                        Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} ratings)
                    </span>
                    <span class="tdm-profile-blog-detail">
                        {{ blog.commentCount }} comments
                    </span>
                </div>
            </div>
            <ng-template #fetchingBlogsError>
                <p><em>{{ blogsError }}</em></p>
            </ng-template>
        </div>
        <ng-template #fetchingBlogsUnderway>
            <p><em>Fetching the user's blogs. Please wait...</em></p>
        </ng-template>
    </div>

    <div class="tdm-profile-subs">
        <h1>Subscriptions</h1>
        <div *ngIf="fetchingSubs === false; else fetchingSubsUnderway">
            <div *ngIf="subsError === ''; else fetchingSubsError">
                <div class="tdm-profile-sub" *ngFor="let sub of subs">
                    <a routerLink="/user/profile/{{ sub.subscriberId }}" class="tdm-profile-sub-link">
                        {{ sub.subscriberName }}
                    </a>
                </div>
            </div>
            <ng-template #fetchingSubsError>
                <p><em>{{ subsError }}</em></p>
            </ng-template>
        </div>
        <ng-template #fetchingSubsUnderway>
            <p><em>Fetching the user's subscription information. Please wait...</em></p>
        </ng-template>
    </div>
</div>