<div class="tdm-form">
    <form (submit)="onSubmit($event)">
        <div class="tdm-form-main">
            <span class="tdm-form-heading">
                Register a New Account
            </span>
            <span class="tdm-form-subheading">
                <em>
                    IMPORTANT: Please read the "How Will Your Information Be Used" and
                    "Registration Instructions" sections to the right (or below if you are
                    using a small screen) before registering below.
                </em>
            </span>
            <div class="tdm-form-element">
                <label for="firstName">First Name:</label>
                <input  name="firstName"
                        type="text"
                        [(ngModel)]="firstName" />
            </div>
            <div class="tdm-form-element">
                <label for="lastName">Last Name:</label>
                <input  name="lastName"
                        type="text"
                        [(ngModel)]="lastName" />
            </div>
            <div class="tdm-form-element">
                <label for="emailAddress">Email Address:</label>
                <input  name="emailAddress"
                        type="text"
                        [(ngModel)]="emailAddress" />
            </div>
            <div class="tdm-form-element">
                <label for="password">Create a Password:</label>
                <input  name="password"
                        type="password"
                        [(ngModel)]="password" />
            </div>
            <div class="tdm-form-element">
                <label for="confirm">Confirm Password:</label>
                <input  name="confirm"
                        type="password"
                        [(ngModel)]="confirm" />
            </div>
            <div class="tdm-form-element">
                <button type="submit">Register</button>
            </div>
        </div>
    </form>
    <div class="tdm-form-aside">
        <span class="tdm-form-heading">
            How Will Your Information Be Used?
        </span>
        <ul>
            <li>Your first and last name will be used to identify you as the author of the blogs you post.</li>
            <li>Your email address will be used to notify you to verify your newly-created account.</li>
            <li>Your email address will also be used to notify you if a password reset has been requested, or has been carried out.</li>
            <li>Your email address will remain private.</li>
            <li>Upon account deletion, all of your information, blogs, and comments will be removed from this site.</li>
        </ul>
        <span class="tdm-form-heading">
            Registration Instructions
        </span>
        <ul>
            <li>Before you begin, please consult the "How Will Your Information Be Used" section above.</li>
            <li>All fields are required.</li>
            <li>Your first and last name shall not contain any numbers or symbols.</li>
            <li>Your email address shall be in the form 'address@domain' (example: dgdev1024@gmail.com).</li>
            <li>Your password must be between 8 and 20 characters in length.</li>
            <li>Your password must contain at least one  capital letter, one number, and one symbol.</li>
            <li>
                By registering with TDM, you agree to be bound to the <a href="https://www.dropbox.com/s/lx52otu5pxg1jbo/tdm_tou.pdf?raw=1" target="_blank">Terms of Use</a>.
            </li>
        </ul>
    </div>
</div>