<div class="tdm-topbar" (mouseleave)="resetToggle()">
    <a routerLink="/">
        <img class="tdm-topbar-brand-logo" src="https://www.dropbox.com/s/kfqcmpk5t9io4gp/logo.png?raw=1" title="The Daily Markdown" alt="The Daily Markdown" />
    </a>
    <div class="tdm-topbar-brand-name">
        The Daily <strong>MARKDOWN</strong>
    </div>
    <div class="tdm-topbar-menu-icon" (click)="toggleMenu()">
        <i class="fa fa-bars"></i>
    </div>
    <div class="{{ showMenu ? 'tdm-topbar-menu tdm-topbar-toggled' : 'tdm-topbar-menu' }}">
        <span class="tdm-topbar-menu-item">
            <form (submit)="onSearchSubmit($event)">
                <input type="text" class="tdm-topbar-input" name="searchQuery" [(ngModel)]="searchQuery" placeholder="Search Blogs" />
                <button [disabled]="searchQuery === ''" type="submit">Search</button>
            </form>
        </span>
        <div *ngIf="auth.checkToken() == true; then loggedIn else notLoggedIn">
        </div>
    </div>
</div>

<ng-template #notLoggedIn>
    <a routerLink="/" class="tdm-topbar-menu-item" (click)="resetToggle()">Home</a>
    <a routerLink="/user/login" class="tdm-topbar-menu-item" (click)="resetToggle()">Log In</a>
    <a routerLink="/user/register" class="tdm-topbar-menu-item" (click)="resetToggle()">Sign Up</a>
</ng-template>

<ng-template #loggedIn>
    <a routerLink="/user/dashboard" class="tdm-topbar-menu-item" (click)="resetToggle()">Dashboard</a>
    <a routerLink="/blog/create" class="tdm-topbar-menu-item" (click)="resetToggle()">Create Blog</a>
    <a routerLink="/user/logout" class="tdm-topbar-menu-item" (click)="resetToggle()">Logout</a>
</ng-template>