<div class="tdm-search">
    <div *ngIf="fetching === true; then fetchingBlogsUnderway else fetchingBlogsDone"></div>
    <ng-template #fetchingBlogsDone>
        <div *ngIf="error !== ''; then fetchingBlogsError else fetchingBlogsGood"></div>
        <ng-template #fetchingBlogsGood>
            <h1>Search Results - Page {{ page + 1 }}</h1>
            <div class="tdm-search-result" *ngFor="let blog of blogs">
                <a routerLink="/blog/view/{{ blog.blogId }}" class="tdm-blog-link">{{ blog.title }}</a>
                <span>By: <a routerLink="/user/profile/{{ blog.authorId }}">{{ blog.author }}</a></span>
                <span>Rating: {{ blog.rating }} / 5 ({{ blog.ratingCount }} rating(s))</span>
                <span>{{ blog.commentCount }} comments</span>
            </div>
            <div class="tdm-search-result-buttons">
                <button [disabled]="page === 0" (click)="onPreviousClicked()">Previous</button>
                <button [disabled]="lastPage === true" (click)="onNextClicked()">Next</button>
            </div>
        </ng-template>
        <ng-template #fetchingBlogsError>
            <h1>Whoops!</h1>
            <p>{{ error }}</p>
        </ng-template>
    </ng-template>
    <ng-template #fetchingBlogsUnderway>
        <div class="tdm-search-message">
            <h1>Please Wait...</h1>
            <p>We are carrying out your search and will have your results ready shortly.</p>
        </div>
    </ng-template>
</div>