<div class="tdm-form">
    <main class="tdm-form-main">
        <h2>Log In to Your Account</h2>
        <form (submit)="onFormSubmit($event)">
            <div class="tdm-form-element">
                <label for="emailAddress">Email Address: </label>
                <input type="text" 
                       class="tdm-form-input" 
                       id="emailAddress" 
                       name="emailAddress" 
                       [(ngModel)]="emailAddress"
                       required />
            </div>
            <div class="tdm-form-element">
                <label for="password">Password: </label>
                <input type="password" 
                       class="tdm-form-input" 
                       id="password" 
                       name="password" 
                       [(ngModel)]="password"
                       required />
            </div>
            <div class="tdm-form-element">
                <button type="submit" class="tdm-form-button">Log In</button>
            </div>
        </form>
    </main>
    <aside class="tdm-form-aside">
        <h2>Don't Have an Account?</h2>
        <p>
            <a routerLink="/user/register">Click here to register</a> and start writing your next blog!
        </p>
        <h2>Forgot your Password?</h2>
        <p>
            <a routerLink="/user/requestPasswordReset">Click here to request a password reset</a> so you can get back into your account.
        </p>
    </aside>
</div>